.snake_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-left: -2rem;
  }
  
  .snake_in_loader {
    display: flex;
    position: relative;
  }
  
  .snake_in_loader * {
    z-index: 10;
    animation: snake 1s linear infinite;
    position: absolute;
  }
  
  .segment_in_loader {
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 1.3px;
    background-color: wheat;
  }
  
  #target_in_loader {
    width: 7px;
    height: 7px;
    background-image: url('/apple-svgrepo-com.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    position: absolute;
  }
  
  .snake_in_loader .segment_in_loader:nth-child(1) { animation-delay: 0.1s; }
  .snake_in_loader .segment_in_loader:nth-child(2) { animation-delay: 0.2s; }
  .snake_in_loader .segment_in_loader:nth-child(3) { animation-delay: 0.3s; }
  .snake_in_loader .segment_in_loader:nth-child(4) { animation-delay: 0.4s; }
  .snake_in_loader .segment_in_loader:nth-child(5) { animation-delay: 0.5s; }
  .snake_in_loader .segment_in_loader:nth-child(6) { animation-delay: 0.6s; }
  
  .snake_in_loader #target_in_loader { 
    animation-delay: 0s; 
  }
  
  @keyframes snake {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(25px, 0);
    }
    50% {
      transform: translate(25px, 25px);
    }
    75% {
      transform: translate(0, 25px);
    }
    100% {
      transform: translate(0, 0);
    }
  }