.audio_button {
    background-image: url('/audio-svgrepo-com.svg');
    padding: 1.4rem;
    box-shadow: 2px 2px 4px rgb(28, 28, 28);
    opacity: 0.566;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem 1.2rem;
    border: none;
    cursor: pointer;
    text-align: center;
    z-index: 4;

  }

.audio_button:hover {
    box-sizing: border-box;
    opacity: 1;

}