.table_parent {
  display: block;
  background-color: rgba(0, 19, 32, 0.759);
  z-index: 4;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgb(28, 28, 28);
  font-family: 'Press Start 2P', cursive;
  font-size: 0.5rem;
  transform: scaleY(1.7);
  max-height: 200px; 
  outline: 5px outset #4f0909c7; 
  box-shadow: 0 0 0 2.5px rgba(255, 255, 255, 0.561); 
  border-collapse: collapse; 
}

.table_parent th, 
.table_parent td {
  padding: 8px; 
  text-align: left;
  padding-bottom: 0.1rem;
  border: none; 
  
}

.table_parent th {
  background-color: rgba(255, 255, 255, 0.342); 
  font-size: 0.7rem;


}

.table_parent td:nth-child(2) {
  font-size: 0.5rem;
  text-align: center; 
}

.table_thread {
  background-color: rgba(255, 255, 255, 0.142); 
  
}
